# Dependencies for general development
-r requirements-build.txt
-r requirements-lint.txt
-r requirements-test.txt
pipdeptree==0.13.2
  pip==20.1.1
pydoc-markdown==3.0.2
  click==7.1.2
  nr.collections==0.0.1
    nr.metaclass==0.0.5
    six==1.15.0
  nr.databind.core==0.0.14
    nr.collections==0.0.1
      nr.metaclass==0.0.5
      six==1.15.0
    nr.interface==0.0.2
      nr.collections==0.0.1
        nr.metaclass==0.0.5
        six==1.15.0
      nr.metaclass==0.0.5
      nr.pylang.utils==0.0.2
        nr.collections==0.0.1
          nr.metaclass==0.0.5
          six==1.15.0
        typing==3.7.4.1
      six==1.15.0
    nr.pylang.utils==0.0.2
      nr.collections==0.0.1
        nr.metaclass==0.0.5
        six==1.15.0
      typing==3.7.4.1
    nr.stream==0.0.3
      nr.collections==0.0.1
        nr.metaclass==0.0.5
        six==1.15.0
      nr.pylang.utils==0.0.2
        nr.collections==0.0.1
          nr.metaclass==0.0.5
          six==1.15.0
        typing==3.7.4.1
      six==1.15.0
  nr.databind.json==0.0.9
    nr.collections==0.0.1
      nr.metaclass==0.0.5
      six==1.15.0
    nr.databind.core==0.0.14
      nr.collections==0.0.1
        nr.metaclass==0.0.5
        six==1.15.0
      nr.interface==0.0.2
        nr.collections==0.0.1
          nr.metaclass==0.0.5
          six==1.15.0
        nr.metaclass==0.0.5
        nr.pylang.utils==0.0.2
          nr.collections==0.0.1
            nr.metaclass==0.0.5
            six==1.15.0
          typing==3.7.4.1
        six==1.15.0
      nr.pylang.utils==0.0.2
        nr.collections==0.0.1
          nr.metaclass==0.0.5
          six==1.15.0
        typing==3.7.4.1
      nr.stream==0.0.3
        nr.collections==0.0.1
          nr.metaclass==0.0.5
          six==1.15.0
        nr.pylang.utils==0.0.2
          nr.collections==0.0.1
            nr.metaclass==0.0.5
            six==1.15.0
          typing==3.7.4.1
        six==1.15.0
    nr.interface==0.0.2
      nr.collections==0.0.1
        nr.metaclass==0.0.5
        six==1.15.0
      nr.metaclass==0.0.5
      nr.pylang.utils==0.0.2
        nr.collections==0.0.1
          nr.metaclass==0.0.5
          six==1.15.0
        typing==3.7.4.1
      six==1.15.0
    nr.parsing.date==0.1.0
    nr.pylang.utils==0.0.2
      nr.collections==0.0.1
        nr.metaclass==0.0.5
        six==1.15.0
      typing==3.7.4.1
  PyYAML==5.3.1
  six==1.15.0
  watchdog==0.10.2
    pathtools==0.1.2
setuptools==47.1.1
